<!DOCTYPE html>
<html lang="en">
<footer class="footer">
    <div class="content has-text-centered">
        <div class="columns">
            <div class="column">
                <img alt="Logo Brezncup Munich" class = "logo mt-6 footer-logo" src="assets/images/bcm_logo_bc_text.svg">
                <h2>
                    <a class="mx-2 has-text-grey-dark" href="https://www.instagram.com/soaring_team_munich/"><i class="fa-brands fa-instagram"></i></a>
                    <a class="mx-2 has-text-grey-dark" href="mailto:brezncupmunich@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                </h2>
                <p></p>
                <p class="subtitle is-6"><i class="fa-solid fa-code"></i> with <i class="fa-solid fa-heart"></i> by Soaring Team Munich</p>
                <p class="subtitle is-6">Logo design by Markus Rüdiger</p>
            </div>
        </div>
    </div>
</footer>
</html>