$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

html {
  scroll-behavior: smooth;
}

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: "Roboto";
  position: relative;
}

.banner {
  min-height: 3.25rem;
  width: 100%;
  z-index: 30;
  background-color: #ca514a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: white;
}

.hero-bg {

  position: relative;
  overflow: hidden;
}

video {
  /** Simulationg background-size: cover */
  object-fit: cover;
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

.footer-logo {
  width: 30%;
  height: auto;
  max-width: 120px;
}

.sponsors {
  border: 2px solid;
  border-color: white;
  border-radius: 11px;
  background: white;
}

.border-top {
  border-top: 2px solid #f5f5f5;
}
.border-right {
  border-right: 2px solid #f5f5f5;
}

.scroll-container {
  position: absolute;
  top: 0;
  right: 2vw;
  height: 100%;
}

// to hide the to top button when page first loads
.scroll-container:before {
  content: '';
  display: block;
  height: 100vh;
  pointer-events: none;
}

.scroll-container a{
  position: sticky;
  top: 95vh;
  right: 100px;
  cursor: pointer;
  font-size: 20px;
}

.team-picture {
  border-radius: 50%;
  height: 200px;
  width: auto;
}

.main-sponsor-logo {
  width: 350px;
}

.main-sponsor-logo-mobile {
  width: 290px;
}

.sponsor-logo {
  width: 150px;
}

.sponsor-logo-mobile {
  width: 90px;
}